---
layout: base
tags: nav
title: About Me
eleventyNavigation:
  key: About
  order: 4
permalink: /about/
---
<div class="page page--about">
    <header class="page__header">
        <h1 class="page__title">Hey there.</h1>
    </header>
    <div class="page__content page__content--fullwidth">

        <div class="about">
            <div class="about__header">
                <div class="about__photo">
                    <img
                        class="responsive-image js-responsive-image"
                        src="{{ '/assets/images/me-800.jpg' | url }}"
                        srcset="{{ '/assets/images/me-800.jpg' | url }} 800w, 
                        {{ '/assets/images/me-1280.jpg' | url }} 1280w"
                        sizes="(min-width: 940px) 40vw, 100vw"
                        alt="Kavin Sood"
                    />
                </div>
                <div class="about__intro lead">
                    <p>I'm Kavin Sood, Computer Science Engineering undergrad student and front-end developer based in India.</p>
                    <p>My strengths are Math and CS. I'm fascinated by the intersection of core engineering and deep tech, particularly how it's shaping the future of hardware. For the past while, I've maintained reading all about AI, machine learning, decision theory and rationality.</p>
                </div>
            </div>
            <div class="about__content markdown">
                <h2>Socials</h2>
                <ul class="about__social">
                    <li>{% icon "github" %}<a href="{{ author.social.github.url }}">Github</a></li>
                    <li>{% icon "discord" %}<a href="{{ author.social.discord.url }}">Discord</a></li>
                    <li>{% icon "instagram" %}<a href="{{ author.social.instagram.url }}">Instagram</a></li>
                </ul>
                <p>Wish to contact me? Drop a mail to hello@kavinsood.com or say hi on </p><a href="https://twitter.com/itskavins">Twitter</a>
            </div>
        </div>
    </div>
</div>