---
layout: base
tags: nav
title: About Me
eleventyNavigation:
  key: About
  order: 4
permalink: /about/
---
<div class="page page--about">
    <header class="page__header">
        <h1 class="page__title">Hey there.</h1>
    </header>
    <div class="page__content page__content--fullwidth">

        <div class="about">
            <div class="about__header">
                <div class="about__photo">
                    <img
                        class="responsive-image js-responsive-image"
                        src="{{ '/assets/images/me-800.jpg' | url }}"
                        srcset="{{ '/assets/images/me-800.jpg' | url }} 800w, 
                        {{ '/assets/images/me-1280.jpg' | url }} 1280w"
                        sizes="(min-width: 940px) 40vw, 100vw"
                        alt="Kavin Sood"
                    />
                </div>
                <div class="about__intro lead">
                    <p>I'm Kavin Sood, Computer Science Engineering undergrad student and front-end developer based in India.</p>
                    <p>My strengths are Math and CS. I'm fascinated by the intersection of core engineering and deep tech, particularly how it's shaping the future of hardware. For the past while, I've maintained reading all about AI, machine learning, decision theory and rationality.</p>
                </div>
            </div>
            <div class="about__content markdown">
                <h2>Socials</h2>
                <ul class="about__social">
                    <li>{% icon "github" %}<a href="{{ author.social.github.url }}">Github</a></li>
                    <li>{% icon "discord" %}<a href="{{ author.social.discord.url }}">Discord</a></li>
                    <li>{% icon "instagram" %}<a href="{{ author.social.instagram.url }}">Instagram</a></li>
                </ul>
                <p>Wish to contact me? Drop a mail to <a href="mailto:hello@kavinsood.com">hello@kavinsood.com</a> or say hi on <a href="https://twitter.com/itskavins">Twitter</a>.</p>

                <h1>Education</h1>
                <h3>Manipal University Jaipur</h3>
                <p>Bachelor of Technology - BTech, Computer Science Engineering with ML/AI<br>2023 - 2027</p>

                <h3>Scottish High International School, Gurgaon</h3>
                <p>High School Diploma: Physics, Chemistry, Mathematics, English and Computer Science<br>2011 - 2023<br>Grade: 97.2% ICSE Class X, 92.6% ISC Class XII Board Examinations</p>

                <h1>Projects</h1>

                <h3>CHÆN COLLECTIVE</h3>
                <p><em>First Place Winner, LNMHACKS 6.0, LNMIIT</em></p>
                <ul>
                    <li>Spearheaded the development of CHÆN COLLECTIVE, an award-winning DAO platform built on the æternity blockchain.</li>
                    <li>This innovative platform empowers individuals to manage investment clubs with unprecedented transparency and inclusivity through features like decentralized voting and collaborative fund management.</li>
                    <li>Leveraged liquid democracy for streamlined decision-making, facilitating effortless club formation, membership management, and collaborative funding.</li>
                    <li><a href="https://github.com/k2s09/CHAEN_COLLECTIVE-AETERNITY">GitHub Repository</a></li>
                </ul>

                <h3>ShoveAId</h3>
                <p><em>First Place Winner, Ordin@Trix, Tagore International School</em></p>
                <ul>
                    <li>Developed and modeled Farmer's AI, a phone-and-shovel-based AI service for farmers in India. Leveraged machine learning and sensor data to provide personalized crop yield optimization advice, diversification, and higher profits for middle-class, boutique, export, and contract farmers.</li>
                    <li><a href="https://github.com/k2s09/shoveAId">GitHub Repository</a></li>
                </ul>

                <h3>My Personal Website</h3>
                <ul>
                    <li>Published over 15,000 words on STEM and philosophy on <a href="https://kavinsood.com">kavinsood.com</a>.</li>
                    <li>Organically grown it to 15k/month impressions, and understood much about the web technologies, mainly JAMStack.</li>
                    <li>Hands-on with the programming stack, linking DNS records, maintaining SSL, SEO, and writing about all that interests me.</li>
                </ul>

                <h3>Gurbani Chanan</h3>
                <ul>
                    <li>Currently volunteering to have made and maintaining the website of a religious NGO, scaled to <em>absolute minimal</em> cost.</li>
                    <li><a href="https://gurbanichanan.org">Gurbani Chanan Website</a></li>
                </ul>

                <h1>Positions of Responsibility</h1>

                <h3>TA MC1030, IoT FAB Lab</h3>
                <p>Manipal University Jaipur, Semester I<br>Teaching Assistant to Prof. Nikhil Srivas<br>Covered Raspberry Pi based Circuits. Also, awarded A+ in this class.</p>

                <h3>Co-Founder SHISTECH</h3>
                <p><em>Scottish High International School, 2021-23</em></p>
                <ul>
                    <li>Hosted 1100+ Participants from 40+ Schools Pan-India across two years.</li>
                    <li>Conceptualized and Managed 10 various events in the fields of Movie Making, Graphic Design, Esports, Music Production, Tech Quizzes, Competitive Coding, Robotics, Hackathons, etc.</li>
                    <li>Managed 70 Member Team across 4 Domains (IT, Social Media, Design, Marketing).</li>
                    <li>Spearheaded design and development of website, hosting the event wiki and online cryptic hunt.</li>
                    <li>Established Sponsorship Structure with Replit, Github, Taskade, .xyz, etc. valued at 1.5 Cr Rupees.</li>
                    <li>Maintained Profit Margins with a Zero Participant Fee Structure amidst Cash Prizes worth Rs. 30000.</li>
                </ul>

                <h3>Information Technology Captain in the Student Council</h3>
                <p><em>Scottish High International School, 2022-23</em></p>
                <ul>
                    <li>Audited School's IT and developed the biggest proposal on multifocal tech infrastructure, giving the labs an overhaul for offline tech events.</li>
                    <li>Held multiple talks with middle and senior school body on digital privacy, social media, cyber-security.</li>
                    <li>Revamped the School Tech Club and got affiliated with Hack Club, an international network of Tech Clubs and Hackathons.</li>
                    <li>Designed a new and innovative system for storage, collection and dispersal of student's phones.</li>
                    <li>Planned and hosted SHISTECH'22, our flagship Tech Symposium and largest hybrid event with 600 participants; managed team of 40 members; Pulled off a two-day offline tech event including eSports in the second edition.</li>
                </ul>
                 <h1>Skills</h1>
                    <p>Java, C, Python, Bash, HTML, CSS, JS & TS, NodeJS, Git, MATLAB</p>

                    <h1>Relevant Courses</h1>

                    <h3>Computer Science</h3>
                    <ul>
                        <li>Data Structures and Algorithms</li>
                        <li>Fundamentals of Computer Science</li>
                        <li>Introduction to Machine Learning</li>
                    </ul>

                    <h3>Mathematics</h3>
                    <ul>
                        <li>Numerical Methods In Engineering</li>
                        <li>Linear Algebra</li>
                        <li>Combinatrics</li>
                        <li>Statistics</li>
                        <li>Calculus and Matrices</li>
                    </ul>

                    <h1>Extracurricular</h1>

                    <h3>Model United Nations</h3>
                    <p>I've taken interest in Debating and MUNs (Model United Nations). I was an active member of the MUN Club at school. I've taken part in 5 MUNs ranging from Indian Parliament (Lok Sabha), UN General Assembly, and Crisis Committees. I was recently invited as an Executive Board member at SHISMUN'23 for a crisis committee, conferring on AI.</p>
                    <p>This helped me gain global awareness on critical geopolitical issues including the trade of blood diamonds, nuclear proliferation, climate change, and Indian elections, and develop debating and researching skills.</p>
            </div>
        </div>
    </div>
</div>